<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>
<p>
  <% @category.venues.each do |venue| %>
   
    <h1 text-color: black><%= link_to venue.name, venue %></h1>
    <p><%= venue.description %></p>
  <%end%>  
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
